aiosmtplib==1.1.6
anyio==3.5.0
asgiref==3.5.0
click==8.0.4
colorama==0.4.4
dnspython==2.2.0
email-validator==1.1.3
fastapi==0.74.1
flake8==4.0.1
h11==0.13.0
idna==3.3
mccabe==0.6.1
pycodestyle==2.8.0
pydantic==1.9.0
pyflakes==2.4.0
python-dotenv==0.19.2
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.5
